<%- include("header") -%> 
<body>

    <div class="container">
        <div></div>
        <div>
            <h1>Login system</h1>
            <form method="POST" class="form" action="/route/login">
                <input type="text" name="email" placeholder="email">
                <input type="password" name="password" placeholder="password">
                <button type="submit">supmet</button>
            </form>
        </div>
        <div></div>


    </div>
<%- include('foot') -%>
